{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Donation Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'temp/Edit.css' %}>

  </head>
  <body>
    <div class="testbox">
    <form method="post" action="edit/{{user.username}}">
      {% csrf_token %}
      <div class="banner">
        <h1>Edit Details</h1>
      </div>
      <br/>
      <fieldset>
        <legend>Personal Details</legend>
        <label style="color:red;" >{{msg}}</label>
        <div class="colums">
          <div class="item">
            <label for="fname">First Name</label>
            <input id="fname" value="{{user.first_name}}" type="text" name="fname" />
          </div>
          <div class="item">
            <label for="lname"> Last Name</label>
            <input id="lname" value="{{user.last_name}}" type="text" name="lname" />
          </div>
          <div class="item">
            <label for="address">Email Address</label>
            <input id="address" value="{{user.email}}" type="text"   name="address" />
          </div>
          <div class="item">
            <label for="phone">Username</label>
            <input id="username" value="{{user.username}}" type="text"   name="username"/>
          </div>
          <div class="item">
            <label for="oldpass">Old Password</label>
            <input id="oldpass" type="password"  name="oldpass" />
          </div>

          <div class="item">
            <label for="newpass">New Password</label>
            <input id="newpass" type="text"   name="newpass" />
          </div>
          <div class="item">
            <label for="conpass">Confirm New Password</label>
            <input id="conpass" type="text"   name="conpass" />
          </div>
      </fieldset>
      <br/>

      </fieldset>
  <div class="btn-block">
     <button onclick="window.location.href = '{% url 'profile' %} '">Update</button>
             <a href="{% url 'profile'%}"> Cancle</a>

      </div>

    </form>

    </div>
  </body>
</html>